@media (max-width: 767px){
    #comments_box{
        display: none !important
    }
}

#comments_box {
    position: fixed;
    right: 25px;
    bottom: 10px;
    max-width: 300px;
    display: none;
}

#carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#slides {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slides ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#slides li {
    float: left;
}
/* Styling for prev and next buttons */

.btn-bar {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 20px;
}

#buttons {
    position: absolute;
    z-index: 999;
    width: 100%;
}

#buttons a {
    display: block;
}

a#prev {
    width: 20px;
    height: 60px;
    float: left;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a#next {
    width: 20px;
    height: 60px;
    float: right;
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.quote-phrase {
    padding: 0px 30px;
    font-size: 14px;
    line-height: 18px;
}

.quoteContainer,
.authorContainer {
    display: table;
    width: 100%;
}

.quoteContainer {
    background-color: #e9f0fa;
    color: #4869b1;
}

.authorContainer {
    color: #4869b1;
    background-color: #fff;
    padding-top: 10px;
}

.authorContainer img {
    margin: 2px 5px 0 0;
    float: left;
}

.quote-author-country {
    color: #6a6a6a;
    color: #6a6a6a;
}

.ileProduktow{
    background: url(../img/counter_bg.png) repeat-x;
    background-size: 100% 115%;
    background-position: 0;
    

}
.ileProduktow{
    font-size: 45px;
    color: #000;
    padding: 15px 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    width: 31%;
    max-width: 70px;
    display: inline-block;
}
#licznikProduktow{
    text-align: center;
    float: right;
    margin-top: 10%;
    margin-right: 20px;
}
#licznikProduktow p{
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 388px;
    padding-top: 20px;
}
.imagesSlider{
    float:left;
    text-align: center;
    padding: 10px;
}
.imagesSlider img{
    max-width: 100px;
}